$control-height: 40px;
$primary-color: #009688;
$primary-color-dark: #00796B;
$tab-selected: #EEEEEE;

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; // to remove
}

.App-header {
  background-color: $primary-color;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; // to remove
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  margin: .3em auto;
  margin-top: 0;
}

.navigation-buttons {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.thing-container,
.inputs-people {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  margin-bottom: .5em;

  .ui.input {
    margin-bottom: .5em;
  }
}

.counter-choser {
  display: flex;
  align-items: center;

  .counter-label {
    font-size: large;
    margin-left: 1em;
  }
}

.things-counter {
  margin-left: 1em!important;
  margin-right: 1em!important;
  margin-bottom: 1em!important;
  margin-top: 1em!important;
}

.things-container {

  .title {
    color: $primary-color;
    padding: 1em;
    font-size: large;
    text-align: center;
  }
  .partecipants {

    > div {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .selectAll {
      font-weight: bold;
    }
  }
}
.section-container {
  margin: 1em;
}
.top-menu {
  background-color: $primary-color!important;
}
.drawer > div {
  margin-top: 64px;

  .go-partecipants {
    border-bottom: 1px solid $primary-color!important;
    color: $primary-color!important;
  }
}

// .top-menu {
//   background: $primary-color;
//   height: 40px;
//   padding-left: 1em;
//    img {
//      height: 100%;
//      padding: .4em;
//    }
// }
// .sidebar-left {
//   top: 40px;
//   position: absolute;
//   top: 0;
//   height: 100%;
//   margin-top: 40px;
//   background-color: $primary-color;
//   width: 60vw;
//   left: -60vw;
//   transition: all 0.5s ease-in-out;

//   &.visible {
//     left: 0;
//     margin-top: 40px;
//     transition: all 0.5s ease-in-out;
//   }

//   p {
//     color: white;
//     border-bottom: 1px solid white;
//     margin: 0;
//     padding: 1em;
//   }
// }