.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; }

.App-header {
  background-color: #009688;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#root {
  margin: .3em auto;
  margin-top: 0; }

.navigation-buttons {
  bottom: 0;
  z-index: 10;
  position: fixed;
  width: 100%; }

.thing-container,
.inputs-people {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  margin-bottom: .5em; }
  .thing-container .ui.input,
  .inputs-people .ui.input {
    margin-bottom: .5em; }

.counter-choser {
  display: flex;
  align-items: center; }
  .counter-choser .counter-label {
    font-size: large;
    margin-left: 1em; }

.things-counter {
  margin-left: 1em !important;
  margin-right: 1em !important;
  margin-bottom: 1em !important;
  margin-top: 1em !important; }

.things-container {
  margin-left: 1em;
  margin-right: 1em; }
  .things-container .price-choser {
    display: flex; }
    .things-container .price-choser .amount {
      margin-right: 1em; }
    .things-container .price-choser .quantity-choser {
      margin-left: 1em;
      display: flex;
      margin-top: 20px;
      align-items: center; }
  .things-container .title {
    color: #009688;
    padding: 1em;
    font-size: large;
    text-align: center; }
  .things-container .partecipants > div {
    margin-top: 1em;
    margin-bottom: 1em; }
  .things-container .partecipants .selectAll {
    font-weight: bold; }

.section-container {
  margin: 1em;
  margin-top: 76px;
  margin-bottom: 72px; }

.top-menu {
  background-color: #009688 !important;
  position: fixed !important;
  top: 0; }

.drawer > div {
  margin-top: 64px; }
  .drawer > div .go-partecipants {
    border-bottom: 1px solid #009688 !important;
    color: #009688 !important; }

.recap-container .value {
  font-weight: bold;
  line-height: 24px !important;
  color: #009688 !important;
  width: 82px !important;
  text-align: right !important; }

.recap-container-about {
  background-color: #EEEEEE !important;
  margin-top: 12px; }
  .recap-container-about a.link-repo {
    display: block;
    text-align: center; }
  .recap-container-about .about-name {
    width: 130px !important;
    font-weight: bold;
    text-align: right !important; }
