$control-height: 40px;
$primary-color: #009688;
$primary-color-dark: #00796B;
$tab-selected: #EEEEEE;

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; // to remove
}

.App-header {
  background-color: $primary-color;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; // to remove
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  margin: .3em auto;
}

.navigation-buttons {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.thing-container,
.inputs-people {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  margin-bottom: .5em;

  .ui.input {
    margin-bottom: .5em;
  }
}

.counter-choser {
  text-align: center;
  display: block!important;
}

.thing-container {
  .ui.input {
    width: 100%;
  }
  
  .title {
    font-size: large;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}