$control-height: 40px;
$primary-color: #009688;
$primary-color-dark: #00796B;
$tab-selected: #EEEEEE;

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; // to remove
}

.App-header {
  background-color: $primary-color;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; // to remove
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  margin: .3em auto;
  margin-top: 0;
}

.navigation-buttons {
  bottom: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.thing-container,
.inputs-people {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  margin-bottom: .5em;

  .ui.input {
    margin-bottom: .5em;
  }
}

.counter-choser {
  display: flex;
  align-items: center;

  .counter-label {
    font-size: large;
    margin-left: 1em;
  }
}

.things-counter {
  margin-left: 1em!important;
  margin-right: 1em!important;
  margin-bottom: 1em!important;
  margin-top: 1em!important;
}

.things-container {
  margin-left: 1em;
  margin-right: 1em;
  
  .price-choser {
    display: flex;
    flex-wrap: wrap;
    
    .discount {
      flex-basis: 50%!important;
      input {
        text-align: right;
      }
    } 
    .discount-unit {
      margin-left: 5px;
      margin-bottom: 12px;
      align-self: flex-end;
    }
    .discount-remove {
      align-self: flex-end;
      margin-bottom: 8px;
      margin-left: 8px;      
    }
    .amount {
      width: auto;
      margin-right: 1em;
    }
    .amount.discounted input{
      color: red!important;
    }
    .quantity-choser {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
      margin-top: 20px;
      align-items: center;
    }
  }
  .title {
    color: $primary-color;
    padding: 1em;
    font-size: large;
    text-align: center;
  }
  .partecipants {

    > div {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .selectAll {
      font-weight: bold;
    }
  }
}
.section-container {
  margin: 1em;
  margin-top: 76px;
  margin-bottom: 72px;
}
.top-menu {
  background-color: $primary-color!important;
  position: fixed!important;
  top: 0;
}
.drawer > div {
  margin-top: 64px;

  .go-partecipants {
    border-bottom: 1px solid $primary-color!important;
    color: $primary-color!important;
  }
}

.recap-container {

  .value-discount,
  .value-cost,
  .value {
    font-weight: bold;
    line-height: 24px!important;
    width: 82px!important;
    text-align: right!important;
  }

  .value {
    color: $primary-color!important;
  }
  
  &-about {
    background-color: #EEEEEE!important;
    margin-top: 12px;

    a.link-repo {
      display: block;
      text-align: center;
    }
    
    .about-name {
      width: 130px!important;
      font-weight: bold;
      text-align: right!important;
    }
  }
}


// dekstop
@media (min-width:1023px) { 
  .section-container {
    max-width: 50vw!important;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .people-container {
    .counter-choser {
      margin-left: auto;
      margin-right: auto;
      display: table;
    }
  }
}